'use strict';

const { resolvePrettyPrinterClass } = require('./support.cjs');

class PrettyFormatterAdapter {
  constructor(options) {
    const PrettyPrinter = resolvePrettyPrinterClass();
    this.printer = new PrettyPrinter({ stream: options.stream });
    options.eventBroadcaster.on('envelope', (envelope) => {
      this.printer.update(envelope);
    });
  }

  finished() {
    return Promise.resolve();
  }
}

module.exports = PrettyFormatterAdapter;
